.dom__wrapper {
  margin-bottom: 30px;
}

.dom__picture-border {
  border: 1px #000;
  border-style: solid none none;
  margin: 0;
}

.dom__text-border {
  padding: 15px 30px;
  border: 1px #000;
  border-style: none solid solid;
  margin: 0;
}