.head__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  margin-bottom: 30px;
}

.head__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.head__text:not(:last-child) {
  margin-bottom: 30px;
}

.nav__wrapper {
  background: #f1f1f1;
  padding: 25px 45px;
  border-radius: 10px;
}

.nav__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
}

.nav__list-item {
  color: #02535f;
}

.nav__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.nav__item {
  text-decoration: underline;
}