.indentation__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 30px;
}

.indentation__wrapper:not(:last-child) {
  font-size: 0;
  margin-bottom: 30px;
}

.indentation__img {
  vertical-align: top;
  width: calc(50% + 20px);
  display: inline-block;
  margin-right: 25px;
}

.indentation__img:last-child {
  margin: 0;
}

.indentation__wrapper-text {
  font-size: 20px;
  line-height: 120%;
  vertical-align: top;
  display: inline-block;
  width: calc(50% - 60px);
}

.indentation__wrapper-text:first-child {
  margin-right: 30px;
}

.indentation__text:not(:last-child) {
  margin-bottom: 30px;
}